# Assignment

Generate a dataframe having the following columns name{Jan to dec} with a set index of 1 to 30

generate a random value to fill the dataframe ranging from 5000 to 500000 using seed number 10

find the out the folowing

1.the mean score of [Jan, May, Aug and sep]

2.the maximum sales for each month

3.the 20th,50th,75th percentile for [Feb, June, Dec]

4.the difference between the total sale of june compared to july

5.find out if the sale is stable or not stable

In [3]:
import numpy as np
import pandas as pd

In [6]:
colum = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
idexx = np.arange(1,31)
np.random.seed(10)
dataa = np.random.randint(5000,500000,360)
dataa = dataa.reshape(30,12)

saless = pd.DataFrame(index = idexx, data = dataa, columns = colum)
saless

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
1,350353,241669,361879,448712,98553,110595,14372,408417,304741,285048,113445,283385
2,441218,145296,276433,191624,232818,361392,474494,250156,445691,108952,320748,185463
3,56595,465854,303328,12290,431558,430505,329808,226028,30550,84537,217659,475070
4,426965,479565,279445,405115,349473,186630,218645,172772,268510,66214,265766,144353
5,237076,241865,396711,36545,334508,54435,33178,209893,377813,326942,208671,302566
6,179840,25875,346660,413650,100448,340241,27543,221594,180568,218622,403407,319712
7,297235,72217,96566,202767,290387,30372,437929,199004,319106,479976,413024,152500
8,171533,351116,392143,372960,43744,211642,276724,340030,113834,480496,315031,429792
9,56855,319365,211982,333950,286173,265842,196126,129427,437752,353940,446052,206184
10,324550,334206,216129,29561,412119,318708,250992,139698,417397,355521,304755,57018
11,56757,363312,492385,380497,422445,478728,22298,85407,104843,351909,176792,233692
12,137434,231928,119190,475067,186327,192635,214681,230970,466877,87841,76022,111416
13,149618,44697,33064,422105,143985,249777,35810,197780,31098,128166,45145,472345
14,112516,172056,183304,255527,485613,42065,293704,391804,263428,44334,40582,365982
15,205288,49866,126923,361798,454631,337131,153562,105414,320126,317909,185730,477427
16,260024,162045,469861,289397,234835,449401,133627,426334,434477,311955,157469,97767
17,475699,54112,360040,227949,348113,452144,434413,233779,295539,386274,421392,422493
18,367824,415012,465031,403189,307622,411651,350049,475681,207958,332121,26717,25414
19,26517,57905,65321,155020,274015,194790,208292,46511,140515,189423,304785,370831
20,369694,236456,41611,88124,470868,240204,142374,297294,317302,419072,226044,257234
21,482321,171146,164681,117122,326521,61294,230907,16754,194069,98643,337212,370189
22,220261,224119,386268,12088,279366,285362,493098,379952,279478,297768,432511,206054
23,106462,194626,389453,147712,52122,137530,123256,43444,82185,150727,38643,73301
24,168346,388899,378331,475693,353615,417120,71663,460311,226239,187150,393908,28561
25,441018,134024,212404,281804,256150,93557,402429,289036,177934,85938,239697,90548
26,230648,275075,142188,495970,7854,445724,191249,361904,230936,27859,254255,357570
27,66649,199087,269753,443399,373609,490771,129110,195826,40663,450973,488781,451896
28,24258,307477,231664,17803,489556,497689,63269,152909,240186,301499,66076,203661
29,206975,469748,427598,205893,76912,484120,82822,196178,267788,272158,56987,454109
30,114257,471211,44544,388267,471032,43155,44465,190363,144561,94041,126533,48402

In [21]:
pd.DataFrame.mean(saless[['Jan','May','Aug','Sep']])

Jan    225492.866667
May    286499.066667
Aug    235822.333333
Sep    245405.466667
dtype: float64

In [79]:
print('the maximum sales for each month'.upper())
pd.DataFrame.max(saless[['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']])

THE MAXIMUM SALES FOR EACH MONTH

Jan    482321
Feb    479565
Mar    492385
Apr    495970
May    489556
Jun    497689
Jul    493098
Aug    475681
Sep    466877
Oct    480496
Nov    488781
Dec    477427
dtype: int64

In [32]:
np.percentile(saless[['Feb','Jun','Dec']],20)

96925.0

In [33]:
np.percentile(saless[['Feb','Jun','Dec']],50)

241767.0

In [34]:
np.percentile(saless[['Feb','Jun','Dec']],75)

384382.0

In [67]:
jun = np.sum(saless['Jun']) #- np.sum(saless[['Jul']])
jul = np.sum(saless['Jul'])
print(f'total sale (Jun): {jun}'.title())
print(f'total sale (Jul): {jul}'.title())
print(f'the difference between the total sale of june compared to july is: {jun-jul}'.title())

Total Sale (Jun): 8315210
Total Sale (Jul): 6080889
The Difference Between The Total Sale Of June Compared To July Is: 2234321

In [80]:
saless.loc['Total_sales'] = (np.sum(saless['Jan']),np.sum(saless['Feb']),np.sum(saless['Mar']),np.sum(saless['Apr']),np.sum(saless['May']),np.sum(saless['Jun']),np.sum(saless['Jul']),np.sum(saless['Aug']),np.sum(saless['Sep']),np.sum(saless['Oct']),np.sum(saless['Nov']),np.sum(saless['Dec']))
saless

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
1,350353,241669,361879,448712,98553,110595,14372,408417,304741,285048,113445,283385
2,441218,145296,276433,191624,232818,361392,474494,250156,445691,108952,320748,185463
3,56595,465854,303328,12290,431558,430505,329808,226028,30550,84537,217659,475070
4,426965,479565,279445,405115,349473,186630,218645,172772,268510,66214,265766,144353
5,237076,241865,396711,36545,334508,54435,33178,209893,377813,326942,208671,302566
6,179840,25875,346660,413650,100448,340241,27543,221594,180568,218622,403407,319712
7,297235,72217,96566,202767,290387,30372,437929,199004,319106,479976,413024,152500
8,171533,351116,392143,372960,43744,211642,276724,340030,113834,480496,315031,429792
9,56855,319365,211982,333950,286173,265842,196126,129427,437752,353940,446052,206184
10,324550,334206,216129,29561,412119,318708,250992,139698,417397,355521,304755,57018
11,56757,363312,492385,380497,422445,478728,22298,85407,104843,351909,176792,233692
12,137434,231928,119190,475067,186327,192635,214681,230970,466877,87841,76022,111416
13,149618,44697,33064,422105,143985,249777,35810,197780,31098,128166,45145,472345
14,112516,172056,183304,255527,485613,42065,293704,391804,263428,44334,40582,365982
15,205288,49866,126923,361798,454631,337131,153562,105414,320126,317909,185730,477427
16,260024,162045,469861,289397,234835,449401,133627,426334,434477,311955,157469,97767
17,475699,54112,360040,227949,348113,452144,434413,233779,295539,386274,421392,422493
18,367824,415012,465031,403189,307622,411651,350049,475681,207958,332121,26717,25414
19,26517,57905,65321,155020,274015,194790,208292,46511,140515,189423,304785,370831
20,369694,236456,41611,88124,470868,240204,142374,297294,317302,419072,226044,257234
21,482321,171146,164681,117122,326521,61294,230907,16754,194069,98643,337212,370189
22,220261,224119,386268,12088,279366,285362,493098,379952,279478,297768,432511,206054
23,106462,194626,389453,147712,52122,137530,123256,43444,82185,150727,38643,73301
24,168346,388899,378331,475693,353615,417120,71663,460311,226239,187150,393908,28561
25,441018,134024,212404,281804,256150,93557,402429,289036,177934,85938,239697,90548
26,230648,275075,142188,495970,7854,445724,191249,361904,230936,27859,254255,357570
27,66649,199087,269753,443399,373609,490771,129110,195826,40663,450973,488781,451896
28,24258,307477,231664,17803,489556,497689,63269,152909,240186,301499,66076,203661
29,206975,469748,427598,205893,76912,484120,82822,196178,267788,272158,56987,454109
30,114257,471211,44544,388267,471032,43155,44465,190363,144561,94041,126533,48402
Total_sales,6764786,7299829,7884890,8091598,8594972,8315210,6080889,7074670,7362164,7296008,7103839,7674935